<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="/fragments/header :: headerFragment"></th:block>
</head>
<body>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <!-- <select class="select_work" id="lifeCycle" name = "lifeCycle" >
       &lt;!&ndash;<option th:value="${lifeCycle}" th:text="${lifeCycle}"></option>&ndash;&gt;
       &lt;!&ndash;th:if="${lifeCycle eq '선택안함' ? 'selected' : ''}"&ndash;&gt;
       <option value="선택안함" th:selected="${lifeCycle} == '선택안함'">선택안함</option>
       <option value="영유아" th:selected="${lifeCycle} == '영유아'">영유아</option>
       <option value="아동" th:selected="${lifeCycle} == '아동'">아동</option>
       <option value="청소년" th:selected="${lifeCycle} == '청소년'">청소년</option>
       <option value="청년" th:selected="${lifeCycle} == '청년'">청년</option>
       <option value="중장년" th:selected="${lifeCycle} == '중장년'">중장년</option>
       <option value="노년" th:selected="${lifeCycle} == '노년'">노년</option>
       <option value="임신·출산" th:selected="${lifeCycle} == '임신·출산'">임신·출산</option>
     </select>-->

    <!-- Post preview-->
    <div th:each="list : ${tableList}">
      <div class="post-preview">
        <b class="post-title" th:text="${list.servNm}">servNm_text</b>
        <br>
        <b class="post-title" th:text="${list.servDgst}">servNm_text</b>
        <br>
        <b class="post-title" th:text="${list.jurMnofNm}">servNm_text</b>
        <br>
        <b class="post-title" th:text="${list.tgtrDtlCn}">servNm_text</b>
        <br>
        <b class="post-title" th:text="${list.slctCritCn}">servNm_text</b>
        <br>
        <b class="post-title" th:text="${list.alwServCn}">servNm_text</b>
        <br>
        <b class="post-title" th:text="${list.trgterIndvdlArray}">servNm_text</b>
        <br>

        <!--<p class="post-meta">
            Posted by
            <a href="#!">Start Bootstrap</a>
            on September 24, 2022
        </p>-->
      </div>
    </div>
    <!-- Divider
    <hr class="my-4" />
    &lt;!&ndash; Post preview&ndash;&gt;
    <div class="post-preview">
      <a href="post.html"><h2 class="post-title">I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.</h2></a>
      <p class="post-meta">
        Posted by
        <a href="#!">Start Bootstrap</a>
        on September 18, 2022
      </p>
    </div>
    &lt;!&ndash; Divider&ndash;&gt;
    <hr class="my-4" />
    &lt;!&ndash; Post preview&ndash;&gt;
    <div class="post-preview">

      <a href="post.html">
        <h2 class="post-title">Science has not yet mastered prophecy</h2>
        <h3 class="post-subtitle">We predict too much for the next year and yet far too little for the next ten.</h3>
      </a>
      <p class="post-meta">
        Posted by
        <a href="#!">Start Bootstrap</a>
        on August 24, 2022
      </p>
    </div>
    &lt;!&ndash; Divider&ndash;&gt;
    <hr class="my-4" />
    &lt;!&ndash; Post preview&ndash;&gt;
    <div class="post-preview">
      <a href="post.html">
        <h2 class="post-title">Failure is not an option</h2>
        <h3 class="post-subtitle">Many say exploration is part of our destiny, but it’s actually our duty to future generations.</h3>
      </a>
      <p class="post-meta">
        Posted by
        <a href="#!">Start Bootstrap</a>
        on July 8, 2022
      </p>
    </div>-->
    <!-- Divider-->
    <!-- Pager-->
  </div>
</div>
<th:block th:replace="/fragments/footer :: footerFragment"></th:block>

</body>
</html>
