<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입 화면 샘플 - Bootstrap</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/register.css">

</head>

<body>
<div class="container">
  <div class="input-form-backgroud row">
    <div class="input-form col-md-12 mx-auto">
      <h4 class="mb-3">회원가입</h4>
      <form class="validation-form" action="/joinProc" method="post" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="username">이름</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="" value="" required>
            <div class="invalid-feedback">
              이름을 입력해주세요.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="email">이메일</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="" value="" required>
            <div class="invalid-feedback">
              이메일을 입력해주세요.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="password">비밀번호</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="" required>
          <div class="invalid-feedback">
            비밀번호를 입력해주세요.
          </div>
        </div>

        <div class="mb-3">
          <!--<label for="lifeCycle">생애주기</label>
          <input type="text" class="form-control" id="lifeCycle" name="lifeCycle" placeholder="청소년" required>
          <div class="invalid-feedback">
            생애주기를 입력해주세요.
          </div>-->
          <label for="lifeCycle">생애주기</label>
          <select class="select_work" id="lifeCycle" name = "lifeCycle">
            <option value="선택안함">선택안함</option>
            <option value="영유아">영유아</option>
            <option value="아동">아동</option>
            <option value="청소년">청소년</option>
            <option value="청년">청년</option>
            <option value="중장년">중장년</option>
            <option value="노년">노년</option>
            <option value="임신·출산">임신·출산</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="lifeType">가구유형</label>
          <select class="select_work" id="lifeType" name = "lifeType">
            <option value="선택안함">선택안함</option>
            <option value="다문화·탈북민">다문화·탈북민</option>
            <option value="다자녀">다자녀</option>
            <option value="보훈대상자">보훈대상자</option>
            <option value="장애인">장애인</option>
            <option value="저소득">저소득</option>
            <option value="한부모·조손">한부모·조손</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="area">지역</label>
          <input type="text" class="form-control" id="area" name="area" placeholder="서울특별시 강남구" required>
          <div class="invalid-feedback">
            지역을 입력해주세요.
          </div>
        </div>

       <!-- <div class="mb-3">
          <label for="address2">상세주소<span class="text-muted">&nbsp;(필수 아님)</span></label>
          <input type="text" class="form-control" id="address2" placeholder="상세주소를 입력해주세요.">
        </div>

        <div class="row">
          <div class="col-md-8 mb-3">
            <label for="root">가입 경로</label>
            <select class="custom-select d-block w-100" id="root">
              <option value=""></option>
              <option>검색</option>
              <option>카페</option>
            </select>
            <div class="invalid-feedback">
              가입 경로를 선택해주세요.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="code">추천인 코드</label>
            <input type="text" class="form-control" id="code" placeholder="" required>
            <div class="invalid-feedback">
              추천인 코드를 입력해주세요.
            </div>
          </div>
        </div>-->
        <hr class="mb-4">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="aggrement" required>
          <label class="custom-control-label" for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
        </div>
        <div class="mb-4"></div>
        <button class="btn btn-primary btn-lg btn-block" type="submit">가입 완료</button>
      </form>
    </div>
  </div>
  <footer class="my-3 text-center text-small">
    <p class="mb-1"></p>
  </footer>
</div>
<script>
    window.addEventListener('load', () => {
      const forms = document.getElementsByClassName('validation-form');

      Array.prototype.filter.call(forms, (form) => {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
            alert("이미 존재하는 정보입니다");
          }

          form.classList.add('was-validated');

        }, false);

      });

    }, false);
  </script>
</body>

</html>