<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/default}">
<!--<head>
  <th:block th:replace="/fragments/header :: headerFragment"></th:block>
</head>
<body>-->

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">
        //즐겨찾기 실패시 에러 메시지 출력
        $(document).ready(function(){
            var frvtError = [[${frvtError}]];
            if(frvtError != null){
                alert(frvtError);
            }
        });
    </script>

</th:block>
<!-- Main Content-->
<div layout:fragment="content">
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">


    <div class="col-md-10 col-lg-8 col-xl-7">

      <form id="searchForm" onsubmit="return false;" autocomplete="off">

      <select class="select_work" id="lifeCycle" name = "lifeCycle" >
        <!--<option th:value="${lifeCycle}" th:text="${lifeCycle}"></option>-->
        <!--th:if="${lifeCycle eq '선택안함' ? 'selected' : ''}"-->
        <option value="선택안함" th:selected="${lifeCycle} == '선택안함'">선택안함</option>
        <option value="영유아" th:selected="${lifeCycle} == '영유아'">영유아</option>
        <option value="아동" th:selected="${lifeCycle} == '아동'">아동</option>
        <option value="청소년" th:selected="${lifeCycle} == '청소년'">청소년</option>
        <option value="청년" th:selected="${lifeCycle} == '청년'">청년</option>
        <option value="중장년" th:selected="${lifeCycle} == '중장년'">중장년</option>
        <option value="노년" th:selected="${lifeCycle} == '노년'">노년</option>
        <option value="임신·출산" th:selected="${lifeCycle} == '임신·출산'">임신·출산</option>
      </select>



        <select class="select_work" id="lifeType" name = "lifeType">
          <option value="선택안함" th:selected="${lifeType} == '선택안함'">선택안함</option>
          <option value="다문화·탈북민" th:selected="${lifeType} == '다문화·탈북민'">다문화·탈북민</option>
          <option value="다자녀" th:selected="${lifeType} == '다자녀'">다자녀</option>
          <option value="보훈대상자" th:selected="${lifeType} == '보훈대상자'">보훈대상자</option>
          <option value="장애인" th:selected="${lifeType} == '장애인'">장애인</option>
          <option value="저소득" th:selected="${lifeType} == '저소득'">저소득</option>
          <option value="한부모·조손" th:selected="${lifeType} == '한부모·조손'">한부모·조손</option>
        </select>


      <select  class="select_work" name = "desireArray">
        <option value="선택안함">선택안함</option>
        <option value="일자리">일자리</option>
        <option value="주거">주거</option>
        <option value="신체건강 및 보건의료">신체건강 및 보건의료</option>
        <option value="정신건강 및 심리정서">정신건강 및 심리정서</option>
        <option value="보호 및 돌봄·요양">보호 및 돌봄·요양</option>
        <option value="보육 및 교육">보육 및 교육</option>
        <option value="문화 및 여가">문화 및 여가</option>
        <option value="안전 및 권익보장">안전 및 권익보장</option>

      </select>

      <input type="text" class="keyword" name="keyword" id="keyword" placeholder="검색어를 입력해주세요">
      <button type="button" class="nav-item" onclick="movePage(1)">검색</button>
    </form>
      <!-- Post preview-->
      <div th:each="list : ${tableList}">
        <div class="post-preview">
          <br><div class="row">
            <div class="col-md-10">
              <a th:href="@{/main2/{servId}(servId=${list.servId})}">
                <b class="post-title" th:text="${list.servNm}">servNm_text</b>
              </a>
            </div>
            <div class="col-md-1">
              <form th:action="@{/addFavorite/{servId}(servId=${list.servId})}" method="post">

                <button type="submit" name="add_favorite" id="add_favorite">
<!--
                  <img class="add_favorite" src="../assets/img/add_favorite_empty.png" alt="즐겨찾기 추가 안함">
-->                 <div sec:authorize="isAuthenticated()">
                        <div th:if="${fvrtServId != null}"  >
                            <div th:each="fvrtlist : ${fvrtServId}">
                                <!--<b th:text="${fvrtlist.servId}">${fvrtlist}</b>
                                <b th:text="${list.servId}">${list}</b>-->
                                <!--<img th:if="${#strings.equals(fvrtlist.servId,list.servId)}" class="add_favorite" src="../assets/img/favorite_fill.png" alt="즐겨찾기 추가">
                                <img th:unless="${#strings.equals(fvrtlist.servId,list.servId)}" class="add_favorite" src="../assets/img/add_favorite_empty.png" alt="즐겨찾기 추가 안함">-->
                                <!--<img th:src="${#strings.equals(fvrtlist.servId,list.servId)} ? '../assets/img/favorite_fill.png' : '../assets/img/add_favorite_empty.png'}" />-->

                                <!--<span th:text="${#strings.equals(fvrtlist.servId,list.servId)} ? '있다' : '없다.'"></span> -->
                                <!--<div th:if="${#strings.equals(fvrtlist.servId,list.servId)}">
                                    <img th:if="${#strings.equals(fvrtlist.servId,list.servId)}" class="add_favorite" src="../assets/img/favorite_fill.png" alt="즐겨찾기 추가">
                                </div>
                                <div th:unless="${#strings.equals(fvrtlist.servId,list.servId)}">
                                    <img th:unless="${#strings.equals(fvrtlist.servId,list.servId)}" class="add_favorite" src="../assets/img/add_favorite_empty.png" alt="즐겨찾기 추가 안함">
                                </div>-->
                            </div>
                            <!--<img class="add_favorite" src="../assets/img/add_favorite_empty.png" alt="즐겨찾기 추가 안함">-->
    <!--
                                <img th:unless="${#strings.equals(fvrtlist.servId,list.servId)}" class="add_favorite" src="../assets/img/add_favorite_empty.png" alt="즐겨찾기 추가 안함">
    -->                     <!-- <div th:unless="${user != null} and ${fvrtServId != null}" >
                                <img class="add_favorite" src="../assets/img/add_favorite_empty.png" alt="즐겨찾기 추가 안함">
                            </div>-->


                        </div>
                    </div>
                  <div th:if="${user == null} or ${fvrtServId == null}">
                    <img class="add_favorite" src="../assets/img/add_favorite_empty.png" alt="즐겨찾기 추가 안함">
                  </div>
                </button>
                <input type="hidden" th:name="servNm" id="servNm" th:value="${list.servNm}" />
                <input type="hidden" th:name="servDgst" id="servDgst" th:value="${list.servDgst}" />
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-md-11">
            <small class="post-subtitle" th:text="${list.servDgst}">servDgst_text</small>
            <hr>
            </div>
          </div>



          <!--<p class="post-meta">
              Posted by
              <a href="#!">Start Bootstrap</a>
              on September 24, 2022
          </p>-->
        </div>
      </div>

      <!-- Divider
      <hr class="my-4" />
      &lt;!&ndash; Post preview&ndash;&gt;
      <div class="post-preview">
        <a href="post.html"><h2 class="post-title">I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.</h2></a>
        <p class="post-meta">
          Posted by
          <a href="#!">Start Bootstrap</a>
          on September 18, 2022
        </p>
      </div>
      &lt;!&ndash; Divider&ndash;&gt;
      <hr class="my-4" />
      &lt;!&ndash; Post preview&ndash;&gt;
      <div class="post-preview">

        <a href="post.html">
          <h2 class="post-title">Science has not yet mastered prophecy</h2>
          <h3 class="post-subtitle">We predict too much for the next year and yet far too little for the next ten.</h3>
        </a>
        <p class="post-meta">
          Posted by
          <a href="#!">Start Bootstrap</a>
          on August 24, 2022
        </p>
      </div>
      &lt;!&ndash; Divider&ndash;&gt;
      <hr class="my-4" />
      &lt;!&ndash; Post preview&ndash;&gt;
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">Failure is not an option</h2>
          <h3 class="post-subtitle">Many say exploration is part of our destiny, but it’s actually our duty to future generations.</h3>
        </a>
        <p class="post-meta">
          Posted by
          <a href="#!">Start Bootstrap</a>
          on July 8, 2022
        </p>
      </div>-->
      <!-- Divider-->
      <!-- Pager-->
    </div>
  </div>
</div>
</div>
    <!--
<th:block th:replace="/fragments/footer :: footerFragment"></th:block>
</body>
</html>-->
